<a href="https://colab.research.google.com/github/GTD2101-ACD-AA-EJ23/01-Python-basico-20170778/blob/main/03.%20TiposDeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

En este JNB se revisará el tema de Tipos de Datos

# Enteros
Este tipo de dato es el tradicional de valores que son enteros.

In [ ]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

# Flotantes
Son los números reales.

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

Es posible que el resultado de un cociente sea un número flotante.

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

Es posible redondear a cierto número de valores decimales.

In [ ]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

La presencia del punto decimal en cualquier número lo convierte a un tipo flotante:

In [ ]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Booleans
Este tipo de dato se utiliza para manejar valores falsos y verdaderos.

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [ ]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

Las expresiones de tipo relacional se evalúan a valores booleanos.

In [ ]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [ ]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

Se pueden utilizar operadores lógicos:

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

# Strings
Representa cualquier secuencia de caracteres. Se pueden manejar en 1 o más líneas. Y se pueden representar con comillas simples, dobles y triples.

In [ ]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

Consultando la longitud de un string con la función len().

In [ ]:
print(len(w))

14

Un string especial es el que tiene longitud 0.

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

Se pueden manejar strings de números, pero hay que convertirlos para darles el tratamiento como tales:

In [ ]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Es posible utilizar los operadores "+" y "*" sobrecargado para los strings en Python:

In [ ]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

No se pueden hacer multiplicaciones de string con flotantes.

In [ ]:
will_not_work = "abc" * 3.

TypeError: ignored